<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoGPStats</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="home">
    <h1>Select year and gran prix</h1>
    <form action="/results" method="POST">
        <label for="year">Year:</label>
        <select id="year" name="year">
            {% for year in range(2018, 2026) %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>

        <label for="granPrix">Gran Prix:</label>
        <select id="granPrix" name="granPrix">
            <option value="sol">Solidarity</option>
            <option value="val">Valencia</option>
            <option value="qat">Qatar</option>
            <option value="mal">Malesia</option>
            <option value="tha">Thailandia</option>
            <option value="aus">Australia</option>
            <option value="ina">Indonesia</option>
            <option value="jpn">Japan</option>
            <option value="ind">India</option>
            <option value="rsm">San Marino</option>
            <option value="cat">Catalogna</option>
            <option value="aut">Austria</option>
            <option value="gbr">Great Britain</option>
            <option value="ned">Netherland</option>
            <option value="ger">Germany</option>
            <option value="ita">Italy</option>
            <option value="fra">France</option>
            <option value="spa">Spain</option>
            <option value="ame">America</option>
            <option value="arg">Argentina</option>
            <option value="por">Portugal</option>
        </select>

        <button class="button-54" role="button" type="submit">Vai al PDF</button>
    </form>
</body>
</html>